/* * {
  border: 1px dotted white;
} */

body {

  background-image: url(../images/alcohol-beverage-black-background-1028637.jpg);
  background-size: cover;
  color: white;
  font-family: 'Encode  Condensed', sans-serif;

}

h1 {
font-family: 'Kaushan Script', cursive;
/* font-family: 'Special Elite', cursive; */
/* font-family: 'Fredericka the Great', cursive; */
text-shadow: 1px 1px 1px whitesmoke;
color: lightgreen;
}

.rules {
  color: lightgray;
}

.instruct {
  font-size: 20px;
}

.puzzleBox {
  border: 1px solid white;
  background-color: rgba(22, 13, 13, 0.6);
}

#cocktailText, #miniHead {
  font-size: 25px;
}

