/* * {
  border: 1px dotted white;
} */

body {

  background-image: url(../images/alcohol-beverage-black-background-1028637.jpg);
  background-size: cover;
  color: whitesmoke;
  font-family: 'Encode  Condensed', sans-serif;

}

h1 {
/* font-family: 'Kaushan Script', cursive; */
/* font-family: 'Special Elite', cursive; */
font-family: 'Fredericka the Great', cursive;
text-shadow: 2px 2px 3px #FF0000;
}

.score {

  text-shadow: 0 0 3px black;
  
}

